---
interface Props { words: readonly string[]; }
const { words } = Astro.props;
const repeated = [...words, ...words, ...words, ...words];
---
<div class="marquee">
  <div class="marquee-track">
    {repeated.map((w, i) => <span key={i}>{w}</span>)}
  </div>
</div>
